<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="LOG_HOME" value="./logs"/>
    <property name="OUT_PATTERN"
              value="quizhub-%X{system:-api}-%X{communicationType:-server} {{ env }} %X{tenant:-all} [%d{yyyy-MM-dd'T'HH:mm:ss+SSSS'Z'}] %X{web-context-CF-RAY:--} %-5p [%t] [%c] %msg%n%throwable"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${OUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${OUT_PATTERN}</pattern>
        </encoder>
        <file>${LOG_HOME}/quizhub-default.log</file>
    </appender>

    <appender name="LOGGING_CONTEXT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logContext</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="log-${logContext}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/quizhub-${logContext}.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>${OUT_PATTERN}</Pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${LOG_HOME}/archive/quizhub-${logContext}-%d{yyyy-MM-dd}-%i.gz</FileNamePattern>
                    <MaxIndex>30</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGGING_CONTEXT"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
